<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    
    <!-- Servlet Configurations -->
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>com.travel.BookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>com.travel.CustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/customer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RouteServlet</servlet-name>
        <servlet-class>com.travel.RouteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RouteServlet</servlet-name>
        <url-pattern>/route</url-pattern>
    </servlet-mapping>

</web-app>
